body{
    color: green;
}

.title{
   
    color: red;
}

.Subtile{
    color: blue;
}

/* @media (max-width : 500px){
    body{
        color: aqua;
    }
} */

@media ( orientation : landscope){
    .title{
        color: black;
    }
}