html, body {
    height: 100%; 
    margin: 0; 
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 20px;
    width: 200px;
  }
  .incre-container {
    text-align: right;
    width: 100px;
    background-color: aqua;
  }
  
  .decre-container {
    width: 100px;
    background-color: aqua;
  }
  